@font-face {
  font-family: myFirstFont;
  src:local("../assets/Flexo-Regular.ttf");
}

@font-face {
  font-family: Flexo;
  src: url(/assets/Flexo-Regular.ttf);
}

@font-face {
  font-family: Flexo-bold;
  src: url(/assets/Flexo-Bold.ttf);
}

a {
  text-decoration:none;
  color:black;
}

.card {
  color: purple;
}

footer {
  background-color:grey;
  width:100%;
}

/* Navbar style -Frankie */
header {
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
  border-bottom: 2px solid grey;
  width: 100%;
}

header ul {
  display:flex;
  flex-direction:row;
  list-style-type:none;
}

header li {
  display:flex;
  flex-direction:column;
  margin-inline: 50px;
  transition:300ms;
  padding-inline: 20px;
  padding-block: 10px;
  justify-content:center;
  align-items:center;
  text-align:center;
  position:relative;
}

header li a::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

header li:hover {
  transform:scale(1.15);
  background-color:rgb(197, 197, 197);
}

header img {
  height: 30px;
}

header i {
  color:rgb(95, 95, 95);
}

body {
  margin: 0px;
  padding: 0px;
  background-color:#fafafa;
  color:black;
  font-family:sans-serif;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

/* Pokepedia grid system -Frankie*/
#myList {
  display:grid;
  grid-template-columns:auto auto auto auto auto auto;
  list-style-type:none;
}

/* Style every card in pokepedia -Frankie */
#myList li {
  display:flex;
  flex-direction:column;
  text-transform:capitalize;
  background-color:lightgray;
  margin: 15px;
  padding: 20px;
  transition:300ms;
  filter: drop-shadow(2px 2px .5px #c2c2c2); /*added drops shadow to cards*/
}

#myList li:hover {
  transform:scale(1.1);
}

#pokepediaElement {
  position:relative;
}

#pokepediaElement a::before {
  position:absolute;
  content: "";
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

#pokepediaBanner {
  background-color:#565656;
  color:white;
  width: 100%;
  height: 75px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
} 

#display_pokepedia {
  padding-top: 10px;
  background-color:#434343;
  color:white;
  width: 100%;
  height: 40px;
}

#display_pokepedia input, label {
  margin-inline: 20px;
}

#display_pokepedia input {
  width: 300px;
}

#detailedDiv {
  text-transform:capitalize;
}

#detailedDiv p {
  text-align:left;
}

#detailed_poke_title {
  font-size: 18px;
}

#detailsImage {
  height: 400px;
}

#random_pokemon {
  text-transform:capitalize;
}

input {
  padding: 5px 20px;
  text-align:center;
}

button {
  margin-top: 20px;
  background-color:green;
  color:white;
  padding: 5px 20px;
}