body {
  background-color:darkblue;
  color:white;
  font-family:Verdana,sans-serif;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

input {
  padding: 5px 20px;
  text-align:center;
}

button {
  margin-top: 20px;
  background-color:green;
  color:white;
  padding: 5px 20px;
}

img {
  height: 350px;
}